.biography{
    background-color: #1e2025   ;
}
.biography__photo{
    display: flex;
    justify-content: center;

}
.biography__photo img{
    border-radius: 200px;
}
.biography__text h1{
    text-align: center;
    color: #fff ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    line-height: 1.35em;
}
.biography__text p{
    color: #fff;
    font-size: 20px;
    line-height: 1.23em;
    font-family: Arial, Helvetica, sans-serif;
}
.biography__text{
    padding: 10%;
    padding-top: 0;
    max-width: 80%;
    margin: 0 auto;
}
@media (max-width: 700px){
    .biography__photo img{
        width: 50%;
    }
}