.slider__slide {
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    width: 100%;
    position: absolute;
    transition: all 0.8s ease-in-out;
    /* &[data-active="true"]{
      opacity:1
    } */
}

.slider__slide__text {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 20px;
    left: 20px;
    padding: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bold
}

#slide {
    position: relative;
    overflow: hidden;
    height: 50vw;
    padding: 0;
}

.leftArrow {
    bottom: 20px;
    left: 20px;
    position: absolute;
    z-index: 200;
    transition: all 0.2s ease-in-out;
    color: rgba(160, 192, 255, 1);
    /* &:hover{
        color: rgba(160,192,255,0.5);
        transform: scale(1.1);
      } */
}

.rightArrow {
    bottom: 20px;
    right: 20px;
    position: absolute;
    z-index: 200;
    transition: all 0.2s ease-in-out;
    color: rgba(160, 192, 255, 0.8);
    /* &:hover{
        color: rgba(160,192,255,0.5);
        transform: scale(1.1);
      } */
}