.home {
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg.png);
    background-position: center;
    background-size: cover;
}

.home_container-text2 {
    margin: 30px 0 0 30px;
}

.home_container-text2 h1 {
    font-size: 50px;
    color: #d51f48;
    margin: 10px 0 10px 0;
}

.home_container-text2 h3 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    color: #004f9d  ;
    margin: 10px 0 10px 0;
}
.home_container-name{
    position: relative;
    z-index: 212;
    margin-top: 230px;
    margin-left: 100px;
}
.home_container-text2 h3 span {
    letter-spacing: 12px;
    font-size: 100px;
    color: #d51f48;
    margin: 10px 0 10px 0;
}

.home_container-text2 h2 {
    margin: 5px 0 5px 0;
    font-size: 40px;
    color: #004f9d;
}

.home_container-text img {
    height: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1100px;
}

.home_container {
    display: flex;
    justify-content: space-between;
}

.home_container-photo img {
    width: 583px;
}

/* .home__container-photo img {
    width: 550px;
}

.home {
    
    padding: 50px 0 100px 0;
    background-color: #e6e5e7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__container-info {
    width: 48%;
}

.home__container-photo {
    width: 50%;
    height: 450px;
}

.home__container-photo {
    display: flex;
    justify-content: center;
}

.home__container {
    padding: 0 5% 0 5%;
    width: 86%;
    background-color: #e6e5e7;
    display: flex;
}

.home__container-tittle {
    color: #000;
    font-size: 62px;
}

.home__container-subtittle {
    color: #000;
    font-size: 25px;
}

.home__footer {
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #1e2025;
}

@media (max-width: 660px) {
    
.home__container-photo {
    width: 50%;
    height: 280px;
}
    .home__container-photo img {
        width: 350px;
    }
    .home__container-tittle {
        color: white;
        font-size: 42px;
    }
    .home__container-subtittle {
        color: white;
        font-size: 15px;
    }
    .home__container {
        flex-direction: column;
    }
    .home__container-info {
        width: 100%;
    }
    .home__container-photo {
        width: 100%;
    }
}

.home__contacts {
    background-color: #fff;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__contacts h3 {
    font-size: 50px;
    line-height: 1.35px;
}

.home__contacts h4 {
    font-size: 30px;
    line-height: 1.35px;
    font-weight: 300;
} */