.home {
    width: 100%;
    background-image: url(./images/bg.png);
    background-position: center;
    background-size: cover;
    height: auto;
}

.home_container {
    display: flex;
    flex-direction: row;
    height: auto;
}

.home_container-text2 {
    margin: 30px 0 0 30px;
}

.home_container-text2 h1 {
    font-size: 50px;
    color: #d51f48;
    margin: 10px 0 10px 0;
}

.home_container-text2 h3 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    color: #004f9d;
    margin: 10px 0 10px 0;
}

.home_container-name {
    position: relative;
    z-index: 2;
    margin-top: 230px;
    margin-left: 100px;
}

.home_container-text2 h3 span {
    letter-spacing: 12px;
    font-size: 100px;
    color: #d51f48;
    margin: 10px 0 10px 0;
}

.home_container-text2 h2 {
    margin: 5px 0 5px 0;
    font-size: 40px;
    color: #004f9d;
}

/* бурч */

.home_container-text img {
    height: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1100px;
}

.home_container {
    display: flex;
    justify-content: space-between;
}

.home_container-photo img {
    width: 533px;
}

.home_container-text {
    height: auto;
}

@media (max-width: 1100px) {
    .home_container-photo img {
        width: 500px;
    }
    .home_container-text img {
        height: 250px;
        width: 1051px;
    }
    .home_container-name {
        margin-top: 208 px;
        margin-left: 10 px;
    }
    .home_container-text2 h3 {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 53px;
        color: #004f9d;
        margin: 10 px 0 10 px 0;
    }
}

@media (max-width: 581px) {
    .home {
        flex-direction: row;
    }
    .home_container-text2 h1 {
        font-size: 25px;
    }
    .home_container-text2 h2 {
        font-size: 22px;
    }
    .home_container-text2 {
        margin: 13px 0 0 13px;
    }
    .home_container-name h3 {
        font-size: 30px;
    }
    .home_container-name h3 span {
        font-size: 42px;
    }
    .home_container-photo img {
        width: 300px;
    }
    .home_container-name {
        margin-top: 30px;
        margin-left: 10px;
    }
    .home_container-text img {
        position: relative;
        left: 0;
        bottom: 0;
        max-width: 50%
    }
    .home_container-text img {
        display: none;
    }
    .home_container {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}