.home__container-photo img {
    width: 550px;
}

.home {
    
    padding: 50px 0 100px 0;
    background-color: #1e2025;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__container-info {
    width: 48%;
}

.home__container-photo {
    width: 50%;
    height: 450px;
}

.home__container-photo {
    display: flex;
    justify-content: center;
}

.home__container {
    padding: 0 5% 0 5%;
    width: 86%;
    background-color: #26282d;
    display: flex;
}

.home__container-tittle {
    color: white;
    font-size: 62px;
}

.home__container-subtittle {
    color: white;
    font-size: 25px;
}

.home__footer {
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #1e2025;
}

@media (max-width: 660px) {
    
.home__container-photo {
    width: 50%;
    height: 280px;
}
    .home__container-photo img {
        width: 350px;
    }
    .home__container-tittle {
        color: white;
        font-size: 42px;
    }
    .home__container-subtittle {
        color: white;
        font-size: 15px;
    }
    .home__container {
        flex-direction: column;
    }
    .home__container-info {
        width: 100%;
    }
    .home__container-photo {
        width: 100%;
    }
}

.home__contacts {
    background-color: #fff;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__contacts h3 {
    font-size: 50px;
    line-height: 1.35px;
}

.home__contacts h4 {
    font-size: 30px;
    line-height: 1.35px;
    font-weight: 300;
}