.header {
    height: 50px;
    background-color: #004f9d;
    display: flex;
    justify-content: flex-start;
}

.header__tittle {
    border-bottom: 1.5px solid white;
}

.header__tittle h1 {
    font-size: 30px;
    color: white;
    margin: 0;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 5%;
}

.header__navbar {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.header__navbar-item {
    display: flex;
    height: 36px;
    align-items: center;
    margin-right: 20px
}

.lang {
    margin-right: 20px;
}

.lang div {
    color: black;
}

.header__navbar-item a {
    color: white;
    text-decoration: none;
}

.header__navbar-item a:hover {
    color: #d51f48;
    text-decoration: none;
}

.burger {
    display: flex;
}

@media (max-width: 600px) {
    .burger {
        display: none;
    }
    .header__navbar {
        display: none;
    }
    .header {
        height: 50px;
    }
}

@media (max-width: 500px) {
    .header__tittle h1 {
        font-size: 17px;
    }
    .header {
        height: 50px;
    }
}

/* style for  burger */

/* @media (max-width: 600px) {

    .burger {
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: space-around;
    }
    .header__wrapper {
        display: none;
    }
    .header__tittle {
        max-width: 50%;
    }
    .header__navbar {
        display: flex;
        flex-direction: column;
    }
    .header__navbar {
        text-align: center;
        margin-top: 100px;
    }
    .header__navbar-item {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 600px) {
    .burger__container {
        display: none;
    }
    .burger {
        display: none;
    }
} */